<h1>Listing planes</h1>

<table>
  <thead>
    <tr>
      <th>Planeno</th>
      <th>Src</th>
      <th>Dst</th>
      <th>Time</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= plane.planeno %></td>
        <td><%= plane.src.cityname %></td>
        <td><%= plane.dst.cityname %></td>
        <td><%= plane.time %></td>
        <td><%= plane.price %></td>
        <td><%= link_to 'Show', plane %></td>
        <% if signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_plane_path(plane) %></td>
          <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Plane', new_plane_path %>
<% end %>