<p id="notice"><%= notice %></p>

<p>
  <strong>Planeno:</strong>
  <%= @plane.planeno %>
</p>

<p>
  <strong>Src:</strong>
  <%= @plane.src_id %>
</p>

<p>
  <strong>Dst:</strong>
  <%= @plane.dst_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @plane.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plane.price %>
</p>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_plane_path(@plane) %> |
<% end %>
<%= link_to 'Back', planes_path %>
