<h1>Listing blogs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>City</th>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.user.nickname %></td>
        <td><%= blog.city.cityname %></td>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.image %></td>
        <td><%= link_to 'Show', blog %></td>
        <% if signed_in? && current_user.admin? || current_user?(blog.user_id) %>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
