<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @blog.city_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @blog.image %>
</p>
<% if signed_in? && current_user.admin? || current_user?(@blog.user_id) %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
<% end %>
<%= link_to 'Back', blogs_path %>

<% if @blog.bcmts.any? %>
  <h3>Blog Comments (<%= @blog.bcmts.count %>)</h3>
  <ol class="bcmts">
    <% @bcmts.each do |bcmt| %>
      <li>
        <span class="user_id"><%= bcmt.user_id %></span>
        <span class="content"><%= bcmt.content %></span>
        <span class="timestamp">Posted <%= time_ago_in_words(bcmt.created_at) %> ago.</span>
      </li>
    <% end %>
  </ol>
  <%= will_paginate @bcmts %>
<% end %>

<% if signed_in? %>
  <%= render 'bcmts/form' %>
<% end %>