<%= form_for(@acmt) do |f| %>
  <% if @acmt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acmt.errors.count, "error") %> prohibited this acmt from being saved:</h2>

      <ul>
      <% @acmt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if signed_in? && current_user.admin? %>
    <div class="field">
      <% attractions_array = Attraction.all.map { |attraction| [attraction.attracname, attraction.id] } %>
      <%= f.label :attraction_id %><br>
      <%= f.select :attraction_id, options_for_select(attractions_array) %>
    </div>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
