<h1>Listing acmts</h1>

<table>
  <thead>
    <tr>
      <th>Attraction</th>
      <th>User</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acmts.each do |acmt| %>
      <tr>
        <td><%= acmt.attraction.attracname %></td>
        <td><%= acmt.user.nickname %></td>
        <td><%= acmt.content %></td>
        <td><%= link_to 'Show', acmt %></td>
        <td><%= link_to 'Edit', edit_acmt_path(acmt) %></td>
        <td><%= link_to 'Destroy', acmt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acmt', new_acmt_path %>
