<p id="notice"><%= notice %></p>

<p>
  <strong>Attraction:</strong>
  <%= @acmt.attraction.attracname %>
</p>

<p>
  <strong>User:</strong>
  <%= @acmt.user.nickname %>
</p>

<p>
  <strong>Content:</strong>
  <%= @acmt.content %>
</p>

<%= link_to 'Edit', edit_acmt_path(@acmt) %> |
<%= link_to 'Back', acmts_path %>
