<%= form_for(@train) do |f| %>
  <% if @train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
      <% @train.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trainno %><br>
    <%= f.text_field :trainno %>
  </div>
  <% cities_array = City.all.map { |city| [city.cityname, city.id] } %>
  <div class="field">
    <%= f.label :src_id %><br>
    <%= f.select :src_id, options_for_select(cities_array) %>
  </div>
  <div class="field">
    <%= f.label :dst_id %><br>
    <%= f.select :dst_id, options_for_select(cities_array) %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
