<h1>Listing trains</h1>

<table>
  <thead>
    <tr>
      <th>Trainno</th>
      <th>Src</th>
      <th>Dst</th>
      <th>Time</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <tr>
        <td><%= train.trainno %></td>
        <td><%= train.src_id %></td>
        <td><%= train.dst_id %></td>
        <td><%= train.time %></td>
        <td><%= train.price %></td>
        <td><%= link_to 'Show', train %></td>
        <% if signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_train_path(train) %></td>
          <td><%= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Train', new_train_path %>
<% end %>