<p id="notice"><%= notice %></p>

<p>
  <strong>Trainno:</strong>
  <%= @train.trainno %>
</p>

<p>
  <strong>Src:</strong>
  <%= @train.src.cityname %>
</p>

<p>
  <strong>Dst:</strong>
  <%= @train.dst.cityname %>
</p>

<p>
  <strong>Time:</strong>
  <%= @train.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @train.price %>
</p>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_train_path(@train) %> |
<% end %>
<%= link_to 'Back', trains_path %>
