<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user.note %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% if @user.blogs.any? %>
  <h3>Blogs (<%= @user.blogs.count %>)</h3>
  <ol class="blogs">
    <% @blogs.each do |blog| %>
      <li>
        <span class="title"><%= blog.title %></span>
        <span class="timestamp">Posted <%= time_ago_in_words(blog.created_at) %> ago.</span>
      </li>
    <% end %>
  </ol>
  <%= will_paginate @blogs %>
<% end %>

<% if @user.bcmts.any? %>
  <h3>Blog Comments (<%= @user.bcmts.count %>)</h3>
  <ol class="bcmts">
    <% @bcmts.each do |bcmt| %>
      <li>
        <span class="blog_id"><%= bcmt.blog_id %></span>
        <span class="content"><%= bcmt.content %></span>
        <span class="timestamp">Posted <%= time_ago_in_words(bcmt.created_at) %> ago.</span>
      </li>
    <% end %>
  </ol>
  <%= will_paginate @bcmts %>
<% end %>

<% if @user.acmts.any? %>
  <h3>Attraction Comments (<%= @user.acmts.count %>)</h3>
  <ol class="acmts">
    <% @acmts.each do |acmt| %>
      <li>
        <span class="attraction_id"><%= acmt.attraction_id %></span>
        <span class="content"><%= acmt.content %></span>
        <span class="timestamp">Posted <%= time_ago_in_words(acmt.created_at) %> ago.</span>
      </li>
    <% end %>
  </ol>
  <%= will_paginate @acmts %>
<% end %>

<% if @user.hcmts.any? %>
  <h3>Hotel Comments (<%= @user.hcmts.count %>)</h3>
  <ol class="hcmts">
    <% @hcmts.each do |hcmt| %>
      <li>
        <span class="hotel_id"><%= hcmt.hotel_id %></span>
        <span class="content"><%= hcmt.content %></span>
        <span class="timestamp">Posted <%= time_ago_in_words(hcmt.created_at) %> ago.</span>
      </li>
    <% end %>
  </ol>
  <%= will_paginate @hcmts %>
<% end %>

<% if @user.requests.any? %>
  <h3>Requests (<%= @user.requests.count %>)</h3>
  <ol class="requests">
    <% @requests.each do |request| %>
      <li>
        <span class="city_id"><%= request.city_id %></span>
        <span class="time"><%= request.time %></span>
        <span class="number"><%= request.number %></span>
        <span class="note"><%= request.note %></span>
        <span class="timestamp">Posted <%= time_ago_in_words(request.created_at) %> ago.</span>
      </li>
    <% end %>
  </ol>
  <%= will_paginate @requests %>
<% end %>