<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user.nickname %>
</p>

<p>
  <strong>City:</strong>
  <%= @request.city.cityname %>
</p>

<p>
  <strong>Time:</strong>
  <%= @request.time %>
</p>

<p>
  <strong>Number:</strong>
  <%= @request.number %>
</p>

<p>
  <strong>Note:</strong>
  <%= @request.note %>
</p>
<% if signed_in? && current_user.admin? || current_user?(@request.user_id) %>
  <%= link_to 'Edit', edit_request_path(@request) %> |
<% end %>
<%= link_to 'Back', requests_path %>
