<h1>Listing foods</h1>

<table>
  <thead>
    <tr>
      <th>Foodname</th>
      <th>City</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.foodname %></td>
        <td><%= food.city.cityname %></td>
        <td><%= food.image %></td>
        <td><%= link_to 'Show', food %></td>
        <% if signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_food_path(food) %></td>
          <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Food', new_food_path %>
<% end %>