<p id="notice"><%= notice %></p>

<p>
  <strong>Foodname:</strong>
  <%= @food.foodname %>
</p>

<p>
  <strong>City:</strong>
  <%= @food.city.cityname %>
</p>

<p>
  <strong>Image:</strong>
  <%= @food.image %>
</p>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_food_path(@food) %> |
<% end %>
<%= link_to 'Back', foods_path %>
