<h1>Listing routes</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Route</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.city.cityname %></td>
        <td><%= route.route %></td>
        <td><%= link_to 'Show', route %></td>
        <% if signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_route_path(route) %></td>
          <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Route', new_route_path %>
<% end %>