<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @route.city_id %>
</p>

<p>
  <strong>Route:</strong>
  <%= @route.route %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
