<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @route.city_id %>
</p>

<p>
  <strong>Route:</strong>
  <%= @route.route %>
</p>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_route_path(@route) %> |
<% end %>
<%= link_to 'Back', routes_path %>
