<p id="notice"><%= notice %></p>

<p>
  <strong>Hotelname:</strong>
  <%= @hotel.hotelname %>
</p>

<p>
  <strong>Attraction:</strong>
  <%= @hotel.attraction_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @hotel.tel %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hotel.price %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>

<% if @hotel.hcmts.any? %>
  <h3>Hotel Comments (<%= @hotel.hcmts.count %>)</h3>
  <ol class="hcmts">
    <% @hcmts.each do |hcmt| %>
      <li>
        <span class="user_id"><%= hcmt.user_id %></span>
        <span class="content"><%= hcmt.content %></span>
        <span class="timestamp">Posted <%= time_ago_in_words(hcmt.created_at) %> ago.</span>
      </li>
    <% end %>
  </ol>
  <%= will_paginate @hcmts %>
<% end %>