<p id="notice"><%= notice %></p>

<p>
  <strong>Hotelname:</strong>
  <%= @hotel.hotelname %>
</p>

<p>
  <strong>Attraction:</strong>
  <%= @hotel.attraction_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @hotel.tel %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hotel.price %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
