<p id="notice"><%= notice %></p>

<p>
  <strong>Blog:</strong>
  <%= @bcmt.blog.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @bcmt.user.nickname %>
</p>

<p>
  <strong>Content:</strong>
  <%= @bcmt.content %>
</p>

<%= link_to 'Edit', edit_bcmt_path(@bcmt) %> |
<%= link_to 'Back', bcmts_path %>
