<h1>Listing attractions</h1>

<table>
  <thead>
    <tr>
      <th>Attracname</th>
      <th>City</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.attracname %></td>
        <td><%= attraction.city_id %></td>
        <td><%= attraction.image %></td>
        <td><%= link_to 'Show', attraction %></td>
        <% if signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
          <td><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Attraction', new_attraction_path %>
<% end %>