<p id="notice"><%= notice %></p>

<p>
  <strong>Attracname:</strong>
  <%= @attraction.attracname %>
</p>

<p>
  <strong>City:</strong>
  <%= @attraction.city_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @attraction.image %>
</p>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
